@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



* {
    margin: 0%;

    font-family: 'Roboto', sans-serif;
}


/* loading animation */

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }

  #loading-spinner {
    border: 8px solid #3498db;
    border-top: 8px solid transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }


/* Banner */

.promo-bar {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;

  }

/* NavBAr */

.secondary-button {
  color: white; 
  background-color: blue;
  border: none;
  border-radius: 20px; 
  padding: 1vh 2vh; 
  cursor: pointer;
  margin-right: 15px;
  background-clip: padding-box;
  overflow: hidden; 
}

.secondary-button:hover {
    background-color: #5277e4;
}


#logo {
    width: 50px;
    background-color: transparent;

}
   

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 99; 
    left: 50%;
    transform: translateX(-50%);
    top: 0.7%;
    border-radius: 45px;
    height: 7.6vh;
    width: 38vw;
    background-color: #ffffffe7;
    backdrop-filter: blur(10px);
    padding: 0px 5px;
}

.nav-links > a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 15px;
}

.nav-links > a:hover{
    color: gray;
    font-size: 20px;
}


  /* #page{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}
#page > img {
 
  margin-bottom: 50px;
  height: 500px;
  width: 1000px;
}

#page > h2 {
justify-content: center;
 margin-bottom: 100px;
}

#page > p{
    margin-bottom: 20vh;
} */





#page {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

#page > img {
    margin-bottom: 50px;
    height: 500px;
    width: 1000px;
}

#page > h2 {
    justify-content: center;
    margin-bottom: 100px;
}

#page > p {
    margin-bottom: 22vh;
}

.main-elem{
    position: relative;
}



.main-elem img {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 111vh;
    height: auto;
}





  #page7{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}

#page7>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 99;
}
#page8{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;

}
#page8>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #ffffff;
    z-index: 99;
    position: absolute;
}
#page8>h1>span{
    color: #ffffff8f;
}
#page9{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}
#page9>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #ffffff;
    z-index: 99;
    position: absolute;
}
#page9>h1>span{
    color: #ffffff8f;
}
#page10{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000000;

}
#page10>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #ffffff;
    z-index: 99;
    position: absolute;
}
#page10>h1>span{
    color: #ffffff8f;
}
#page11{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}
#page11>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #ffffff;
    z-index: 99;
    position: absolute;
}
#page11>h1>span{
    color: #ffffff8f;
}
#page12{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;

}
#page12>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #ffffff;
    z-index: 99;
    position: absolute;
}
#page12>h1>span{
    color: #ffffff8f;
}
#page13{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}
#page13>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #ffffff;
    z-index: 99;
    position: absolute;
}
#page13>h1>span{
    color: #ffffff8f;
}

select {
    padding: 10px;
    font-size: 16px;
  }

  .container {
    display: flex;
    align-items: center;
  }





  @media screen and (max-width: 600px) {





  }
  
  @media screen and (max-width: 700px) {

    #nav {
        width: 80vw;
    }

    .nav-links > a {
        font-size: 15px;
    }

  }


  @media screen and (max-width: 800px) {

    #nav {
        width: 80vw;
    }

    .nav-links > a {
        font-size: 15px;
    }

  }
